@font-face {
  font-family: 'MedievalFonts';
  src: url('MedievalSharp.ttf') format('truetype');
}



body {
  font-family: 'MedievalFonts', sans-serif;
  background-color: #121862;
  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  height: 100vh;
}

main {
  position: relative;
  background-image: url("assets/backMain.png");
  margin-top: 8%;
  text-align: center;
  background-image: url("assets/backMain.png");
  background-position: center;
  overflow-y: auto;
  height: 85wh;
}

footer {
  padding: 20px;
  text-align: center;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  background-color: #333;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  color: #d8d8d8;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav li {
  margin-right: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.nav a:hover {
  color: #a3a3a3;
  text-decoration: underline;
}

.nav img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

#texto-container {
  font-family: 'MedievalFonts', sans-serif;
  color: #111;
  display: inline-block;
  border: 2px solid #000;
  padding: 10px;
  text-align: left;
  max-width: calc(100% - 10px);
  margin: 5px;
  box-sizing: border-box;
  overflow: scroll;
  /* ou overflow: scroll; */
  display: flex;
  justify-content: left;
  align-items: center;
}

#dayHistory {
  text-align: center;
}

#nextStep {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}


.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 20px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.buttonWhiteDark {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  margin: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}

.buttonWhiteDark:hover {
  transform: translateY(-2px);
}

/*Button 30*/
.button-30 {
align-items: center;
appearance: none;
background-color: #FCFCFD;
border-radius: 4px;
border-width: 0;
box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
box-sizing: border-box;
color: #36395A;
cursor: pointer;
display: inline-flex;
font-family: "JetBrains Mono", monospace;
height: 24px;
font-size: 12px;
justify-content: center;
line-height: 1;
list-style: none;
overflow: hidden;
padding-left: 8px;
padding-right: 8px;
position: relative;
text-align: left;
text-decoration: none;
transition: box-shadow .15s, transform .15s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
will-change: box-shadow, transform;
}

.button-30:focus {
box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
transform: translateY(-1px);
}

.button-30:active {
box-shadow: #D6D6E7 0 3px 7px inset;
transform: translateY(1px);
}

.revs {
text-align: center;
}

#arquivos{
  display: block;
}
#contents{
  display: none;
}
#homeBtn {
  padding: 5px 10px;
  font-size: 12px;
  width: 42px;
  height: 42px;
}

#homeBtn img {
  width: 21px;
  height: 21px;
}

#homeBtnMain {
  padding: 5px 10px;
  font-size: 12px;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#homeBtnMain img {
  width: 21px;
  height: 21px;
}

#ultimoBotao {
  margin-bottom: 1%;
}